.logo{
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    padding-top: 50px;
    padding-left: 50px;
}
.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
    margin-right: 5px;
}
.logo .club-name {
    /* background-color: antiquewhite; */
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(239, 239, 239);
    font-weight: 900;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
    padding-top: 10px;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 53, 53);
    box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.75);
    padding: 80px 40px;
    border-radius: 10px;
}
.welcome-title{
    /* background-color: darkgray; */
    margin-bottom: 80px;
    color: white;
    font-weight: 900;
    font-size: 28px;
}
.account-input{
    width: 270px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(128, 128, 128, 0.699);
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.account-input::placeholder{
    color: rgba(226, 226, 226, 0.466);
    font-size: 20px;
}
.account-input:focus{
    outline: none;
}

.button-container{
    display: flex;
    justify-content: space-between;
    /* background-color: darkgray; */
    margin-top: 50px;
}

.login-btn{
    color: rgb(97, 53, 53);
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}
.login-btn:hover{
    background-color: rgb(97, 53, 53);
    color: white;
    border: 1px solid white;
    transition: color 0.2s, background-color 0.2s;
}
.login-btn:active{
    background-color: rgb(140, 77, 77);
    color: white;
    border: 1px solid white;
}

.create-account-btn{
    color: rgb(97, 53, 53);
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.create-account-btn:hover{
    background-color: rgb(97, 53, 53);
    color: white;
    border: 1px solid white;
    transition: color 0.2s, background-color 0.2s;
}
.create-account-btn:active{
    background-color: rgb(140, 77, 77);
    color: white;
    border: 1px solid white;
}